click~=8.2.1
loguru ~= 0.7.3
moderngl[headless] ~= 5.8.2 --only-binary=glcontext --only-binary=moderngl
numpy ~= 2.2.6
rasterio ~= 1.3.11
geopandas ~= 1.1.1
sqlalchemy ~= 2.0.43
python-dotenv ~= 1.1.1
psycopg ~= 3.2.9
